@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}
.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 767.98px) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
}
.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.fp-init .slider-mode [data-fp-section], .fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}
.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 120px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 10px;
}
@media (max-width: 1920px) {
  .fp-bullets {
    left: calc(7.5px + 112.5 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 767.98px) {
  .fp-bullets {
    top: auto;
    bottom: 20px;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 5px;
  height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  background-color: #000000;
  opacity: 0.2;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .fp-bullets .fp-bullet {
    width: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    height: 5px;
  }
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
}

body {
  font-family: "Quicksand";
  color: #6A6E77;
  font-size: 25px;
}
@media (max-width: 1920px) {
  body {
    font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
  }
}

[class*=__container] {
  padding-left: 240px;
  padding-right: 240px;
}
@media (max-width: 1920px) {
  [class*=__container] {
    padding-left: calc(15px + 225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  [class*=__container] {
    padding-right: calc(15px + 225 * ((100vw - 320px) / (1920 - 320)));
  }
}

.text {
  line-height: 180%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 126.6666666667%;
  color: #1C1F25;
}
@media (max-width: 1920px) {
  .title {
    font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
  }
}

.page {
  counter-reset: item;
}
.page__section::after {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  position: absolute;
  top: 50%;
  right: 120px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 60px;
  color: #E3E6EC;
  font-weight: 700;
  z-index: 1;
}
@media (max-width: 1920px) {
  .page__section::after {
    right: calc(7.5px + 112.5 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .page__section::after {
    font-size: calc(25px + 35 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 767.98px) {
  .page__section::after {
    top: 30px;
    right: 50%;
  }
}

.section-header__label {
  color: #6A6E77;
}
.section-header__label:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1920px) {
  .section-header__label:not(:last-child) {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.section-header__title {
  color: #1C1F25;
  font-size: 60px;
  font-weight: 700;
  line-height: 125%;
  max-width: 470px;
}
@media (max-width: 1920px) {
  .section-header__title {
    font-size: calc(35px + 25 * ((100vw - 320px) / (1920 - 320)));
  }
}
.section-header__title:not(:last-child) {
  margin-bottom: 132px;
}
@media (max-width: 1920px) {
  .section-header__title:not(:last-child) {
    margin-bottom: calc(20px + 112 * ((100vw - 320px) / (1920 - 320)));
  }
}
.section-header__title-big {
  max-width: 890px;
}
.section-header__text {
  max-width: 540px;
}
.section-header-ligth .section-header__label {
  color: #E3E6EC;
}
.section-header-ligth .section-header__title {
  color: #FFFFFF;
}

.services {
  display: grid;
  gap: 60px;
}
@media (max-width: 1920px) {
  .services {
    gap: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 1920px) {
  .services__item {
    gap: calc(10px + 40 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 479.98px) {
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.services__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
}
.services__icon img {
  max-width: 100%;
}
.services__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1920px) {
  .services__title:not(:last-child) {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / (1920 - 320)));
  }
}
.screen-01__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767.98px) {
  .screen-01__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .screen-01__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.screen-01__container .screen-01__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 155px;
  padding-bottom: 155px;
  z-index: 1;
}
@media (max-width: 1920px) {
  .screen-01__container .screen-01__body {
    padding-left: calc(15px + 225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .screen-01__container .screen-01__body {
    padding-right: calc(15px + 225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .screen-01__container .screen-01__body {
    padding-top: calc(50px + 105 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .screen-01__container .screen-01__body {
    padding-bottom: calc(50px + 105 * ((100vw - 320px) / (1920 - 320)));
  }
}
.screen-01__container .screen-01__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 31, 37, 0.6);
}
.screen-01__container .screen-01__body .screen-01__section-header {
  z-index: 1;
  position: relative;
}
.screen-01__container .screen-01__body .screen-01__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .screen-01__container .screen-01__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }
}

@media (min-width: 767.98px) {
  .screen-02__container {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.screen-02__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 767.98px) {
  .screen-02__content {
    padding-right: 20px;
  }
}
.screen-02__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.screen-02__image img {
  max-width: 100%;
}

@media (min-width: 767.98px) {
  .screen-03__container {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.screen-03__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 767.98px) {
  .screen-03__content {
    padding-bottom: 50px;
  }
}
.screen-03__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.screen-03__image img {
  max-width: 100%;
}
@media (min-width: 767.98px) {
  .screen-03__image {
    padding-right: 20px;
    left: -240px;
  }
}
@media (min-width: 767.98px) and (max-width: 1920px) {
  .screen-03__image {
    left: calc(-15px + -225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (min-width: 767.98px) {
  .screen-03__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.screen-03 .values-screen-03 {
  padding-top: 120px;
  display: grid;
  gap: 76px;
}
@media (max-width: 1920px) {
  .screen-03 .values-screen-03 {
    padding-top: calc(45px + 75 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .screen-03 .values-screen-03 {
    gap: calc(25px + 51 * ((100vw - 320px) / (1920 - 320)));
  }
}
.screen-03 .values-screen-03__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.screen-03 .values-screen-03__label {
  color: #6A6E77;
}
.screen-03 .values-screen-03__value {
  color: #1C1F25;
  font-weight: 700;
}
.screen-03 .values-screen-03__line {
  grid-column: span 2;
  background: rgba(28, 31, 37, 0.1);
  height: 10px;
}
.screen-03 .values-screen-03__line span {
  display: block;
  height: 10px;
  background-color: #1C1F25;
}

.screen-04__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.screen-04__section-header:not(:last-child) {
  margin-bottom: 153px;
}
@media (max-width: 1920px) {
  .screen-04__section-header:not(:last-child) {
    margin-bottom: calc(35px + 118 * ((100vw - 320px) / (1920 - 320)));
  }
}
.advantages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
}
@media (max-width: 1920px) {
  .advantages {
    gap: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
  }
}
.advantages__icon:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1920px) {
  .advantages__icon:not(:last-child) {
    margin-bottom: calc(10px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.advantages__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1920px) {
  .advantages__title:not(:last-child) {
    margin-bottom: calc(10px + 22 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (min-width: 767.98px) {
  .screen-05__container {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.screen-05__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 767.98px) {
  .screen-05__content {
    padding-right: 20px;
  }
}
.screen-05__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.screen-05__image {
  position: relative;
}
.screen-05__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .screen-05__image {
    margin-left: -240px;
    margin-right: -240px;
  }
}
@media (max-width: 767.98px) and (max-width: 1920px) {
  .screen-05__image {
    margin-left: calc(-15px + -225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 767.98px) and (max-width: 1920px) {
  .screen-05__image {
    margin-right: calc(-15px + -225 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 767.98px) {
  .screen-05__image img {
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.screen-06 {
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 991.98px) {
  .screen-06__container {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.screen-06__section-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (min-width: 991.98px) {
  .screen-06__section-header {
    padding-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .screen-06__section-header {
    padding-bottom: 30px;
  }
}
.screen-06__services {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}