// ================================================================================================
$pc: 1440px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
$mainColor: #6A6E77;
$darkColor: #1C1F25;
$softColor: #E3E6EC;
$lightColor: #FFFFFF;

body {
	.fp-init & {
		// Щоб вимкнути оновлення сторінки свайпом на телефоні
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
// Оболонка секцій
[data-fp] {
	min-height: 100vh;
	.touch & {
		min-height: calc(var(--vh, 1vh) * 100);
		@media (max-width: $mobile) {
			transition: height 0.2s;
		}
	}
	.fp-init & {
		// Для того щоб секції не перекривали буллети
		z-index: 1;
		// Відносно чого позиціонуються секції
		touch-action: none;
		position: relative;
		overflow: hidden;
	}
}

// Секція
[data-fp-section] {
	.fp-switching & {
		touch-action: none;
	}
	.fp-init & {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	// Модифікації
	.fp-init .slider-mode &,
	.fp-init .cards-mode & {
		transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
	}
	.fp-init .fade-mode & {
		transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
	}
}

// Оболонка буллетів
.fp-bullets {
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	//!: right: rem(40);
    @include adaptiv-value("left", 120, 7.5, 1920, 1920, 320, 1);
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	z-index: 2;
	gap: 10px;
	// @media (max-width: $pc) {
	// 	right: 20px;
	// }
	@media (max-width: $mobile) {
		top: auto;
		bottom: 20px;
		transform: translate(50%, 0);
		flex-direction: row;
		right: 50%;
	}

	// Булет
	& .fp-bullet {
		cursor: pointer;
		width: 5px;
		height: 50px;
		flex: 0 0 50px;
        background-color: $darkColor;
        opacity: 0.2;
        transition: opacity 0.8s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
        @media (max-width: $mobile) {
            width: 25px;
            flex: 0 0 25px;
            height: 5px;
            outline: 1px solid rgba(227, 230, 236, 0.6);
        }
	}

	& .fp-bullet-active {
        opacity: 1;
	}
}
//TODO: Разобраться с функцией rem(). Почему не работает? Оригинал кода с функциями rem() в файле fullpage.scss
//?: Почему переменные цвета не работают в этом файле? $darkColor / пробовал применять на булетах - не работает!
