// ================================================================================================
$pc: 1440px; // Ширина контейнеру / ПК, ноукбуки та деякі планшети в горизонтальному положенні
$tablet: 991.98px; // планшети та деякі телефони в горизонтальному положенні
$mobile: 767.98px; // телефони L
$mobileSmall: 479.98px; // телефони S
$mainColor: #6A6E77;
$darkColor: #1C1F25;
$softColor: #E3E6EC;
$lightColor: #FFFFFF;
// ================================================================================================