// подключаем шрифты (дописываем &display=swap, это важно для оптимизации) ========================
@import url('https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap');
// ================================================================================================
// подключаем обнуляющий стиль и миксины ==========================================================
@import "_nullstyle";
@import "_mixins";
@import "_fullpage";
// ================================================================================================

// Global =========================================================================================
$mainColor: #6A6E77;
$darkColor: #1C1F25;
$softColor: #E3E6EC;
$lightColor: #FFFFFF;

body {
    font-family: 'Quicksand';
    color: $mainColor;
    @include adaptiv-value("font-size", 25, 16, 1920, 1920, 320, 1);
}

[class*="__container"] {
    @include adaptiv-value("padding-left", 240, 15, 1920, 1920, 320, 1);
    @include adaptiv-value("padding-right", 240, 15, 1920, 1920, 320, 1);
}

.wrapper {}
// Общие компоненты =============================
.text {
    line-height: calc(45 / 25 * 100%);
}
.title {
    @include adaptiv-value("font-size", 30, 20, 1920, 1920, 320, 1);
    font-weight: 700;
    line-height: calc(38 / 30 * 100%);
    color: $darkColor;
}

.page {
    counter-reset: item;

    // .page__section
    &__section {
        &::after {
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            position: absolute;
            top: 50%;
            @include adaptiv-value("right", 120, 7.5, 1920, 1920, 320, 1);
            transform: translate(50%, -50%);
            @include adaptiv-value("font-size", 60, 25, 1920, 1920, 320, 1);
            color: $softColor;
            font-weight: 700;
            z-index: 1;
            @media (max-width: $mobile) {
                top: 30px;
                right: 50%;
            }
        }
    }
}

.section-header {

    // .section-header__label
    &__label {
        color: $mainColor;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 15, 1920, 1920, 320, 1);
        }
    }

    // .section-header__title
    &__title {
        color: $darkColor;
        @include adaptiv-value("font-size", 60, 35, 1920, 1920, 320, 1);
        font-weight: 700;
        line-height: calc(75 / 60 * 100%);
        max-width: 470px;
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 132, 20, 1920, 1920, 320, 1);
        }
        &-big {
            max-width: 890px;
        }
    }

    // .section-header__text
    &__text {
        max-width: 540px;
    }

    // .section-header__light
    &-ligth {
        .section-header__label {
            color: $softColor;
        }

        .section-header__title {
            color: $lightColor;
        }
    }
}

.services {
    display: grid;
    @include adaptiv-value("gap", 60, 30, 1920, 1920, 320, 1);
    // .services__item
    &__item {
        display: flex;
        align-items: center;
        @include adaptiv-value("gap", 50, 10, 1920, 1920, 320, 1);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // .services__icon
    &__icon {
        flex: 0 0 60px;
        height: 60px;
        img {
            max-width: 100%;
        }
    }

    // .services__body
    &__body {
    }

    // .services__title
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 15, 1920, 1920, 320, 1);
        }
    }

    // .services__text
    &__text {
    }
}
// ==============================================
// ================================================================================================

// Section-01 =====================================================================================
.screen-01 {

    // .screen-01__container
    &__container {
        min-height: 100%;
        display: flex;
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }
        .screen-01__body {
            flex: 1 1 auto;
            //flex-grow: 1;
            position: relative;
            @include adaptiv-value("padding-left", 240, 15, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-right", 240, 15, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-top", 155, 50, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-bottom", 155, 50, 1920, 1920, 320, 1);
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(28, 31, 37, 0.6);
            }

            .screen-01__section-header {
                z-index: 1;
                position: relative;
            }

            .screen-01__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media (max-width: $mobile) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                min-height: 100%;
            }
        }
    }
}
// ================================================================================================
//TODO: Счетчик секции привязать к высоте блока "screen-01__body" через js!
//TODO: Изменить цвет булета при скролле (когда переходим на второй слайд)

// Section-02 =====================================================================================
.screen-02 {

    // .screen-02__container
    &__container {
        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
            align-items: flex-start;
        }
    }

    // .screen-02__content
    &__content {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;
        @media (min-width: $mobile) {
            padding-right: 20px;
        }
    }

    // .screen-02__section-header
    &__section-header {}

    // .screen-02__image
    &__image {
        flex: 0 1 50%;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);

            img {
                position: relative;
                min-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}
// ================================================================================================
//TODO: Поработать над адаптивностью изображения Screen-02

// Section-03 =====================================================================================
.screen-03 {

    // .screen-03__container
    &__container {

        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
    }

    // .screen-03__content
    &__content {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;

        @media (min-width: $mobile) {
            padding-bottom: 50px;
        }
    }

    // .screen-03__section-header
    &__section-header {}

    // .screen-03__image
    &__image {
        position: relative;
        flex: 0 1 50%;

        img {
            max-width: 100%;
        }

        @media (min-width: $mobile) {
            padding-right: 20px;
            @include adaptiv-value("left", -240, -15, 1920, 1920, 320, 1);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);    

            img {
                position: relative;
                min-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }

    // .screen-03__values
    &__values {}

    .values-screen-03 {
        @include adaptiv-value("padding-top", 120, 45, 1920, 1920, 320, 1);
        display: grid;
        @include adaptiv-value("gap", 76, 25, 1920, 1920, 320, 1);

        // .values-screen-03__item
        &__item {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;
            gap: 15px;
        }

        // .values-screen-03__label
        &__label {
            color: $mainColor;
        }

        // .values-screen-03__value
        &__value {
            color: $darkColor;
            font-weight: 700;
        }

        // .values-screen-03__line
        &__line {
            grid-column: span 2;
            background: rgba(28, 31, 37, 0.10);
            height: 10px;

            span {
                display: block;
                height: 10px;
                background-color: $darkColor;
            }
        }
    }
}
// ================================================================================================

// Section-04 =====================================================================================
.screen-04 {

    // .screen-04__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    // .screen-04__section-header
    &__section-header {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 153, 35, 1920, 1920, 320, 1);
        }
    }

    // .screen-04__advantages
    &__advantages {}
}

.advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    @include adaptiv-value("gap", 50, 20, 1920, 1920, 320, 1);

    // .advantages__item
    &__item {}

    // .advantages__icon
    &__icon {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 26, 10, 1920, 1920, 320, 1);
        }
    }

    // .advantages__title
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 10, 1920, 1920, 320, 1);
        }
    }

    // .advantages__text
    &__text {
    }
}
// ================================================================================================

// Section-05 =====================================================================================
.screen-05 {

    // .screen-05__container
    &__container {
        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
        }
    }

    // .screen-05__content
    &__content {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;

        @media (min-width: $mobile) {
            padding-right: 20px;
        }
    }

    // .screen-05__section-header
    &__section-header {}

    // .screen-05__images
    &__images {
        flex: 0 1 50%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    // .screen-05__image
    &__image {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);

            img {
                position: relative;
                min-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}
// ================================================================================================

// Section-06 =====================================================================================
.screen-06 {
    padding-top: 45px;
    padding-bottom: 45px;
    // .screen-06__container
    &__container {
        @media (min-width: $tablet) {
            min-height: 100%;
            display: flex;
            align-items: center;
        }
    }

    // .screen-06__section-header
    &__section-header {
        flex: 0 1 50%;
        @media (min-width: $tablet) {
            padding-right: 20px;
        }
        @media (max-width: $tablet) {
            padding-bottom: 30px;
        }
    }

    // .screen-06__services
    &__services {
        flex: 0 1 50%;
    }
}
// ================================================================================================

// Section-07 =====================================================================================
.screen-07 {
    // .screen-07__container
    &__container {
        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
        }
    }
    // .screen-07__services
    &__services {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;

        @media (min-width: $mobile) {
            padding-right: 20px;
            padding-bottom: 50px;
        }
    }
    // .screen-07__image
    &__image {
        position: relative;
        flex: 0 1 50%;

        img {
            max-width: 100%;
        }

        @media (min-width: $mobile) {
            @include adaptiv-value("right", -240, -15, 1920, 1920, 320, 1);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);    

            img {
                position: relative;
                min-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}
// ================================================================================================
// Section-08 =====================================================================================
.screen-08 {

    // .screen-08__container
    &__container {
        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
    }

    // .screen-08__content
    &__content {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;
        @include adaptiv-value("padding-left", 240, 30, 1920, 1920, 768, 1);

        @media (min-width: $mobile) {
            padding-bottom: 50px;
        }
    }

    // .screen-08__section-header
    &__section-header {
        @include adaptiv-value("margin-bottom", 190, 30, 1920, 1920, 320, 1);
    }

    // .screen-08__projects
    &__projects {
        display: flex;
        @include adaptiv-value("gap", 87, 20, 1920, 1920, 320, 1);
    }

    // .screen-08__image
    &__image {
        flex: 0 1 50%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);

            img {
                position: relative;
                min-width: 100%;
                height: auto;
            }
        }
    }
}

.projects {

    // .projects__item
    &__item {}

    // .projects__value
    &__value {
        color: $darkColor;
        @include adaptiv-value("font-size", 60, 35, 1920, 1920, 320, 1);
        font-weight: 700;
        line-height: calc(75 / 60 * 100%);

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    // .projects__label
    &__label {}
}
// ================================================================================================

// Section-09 =====================================================================================
.screen-09 {

    // .screen-09__container
    &__container {
        display: flex;
        flex-direction: row-reverse;
        min-height: 100%;
        @media (max-width: $tablet) {
            flex-direction: column;
            padding-top: 50px;
            //padding-bottom: 50px;
        }
    }

    // .screen-09__section-header
    &__section-header {
        @media (min-width: $tablet) {
            flex: 0 0 33.337%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .section-header {
                text-align: center;
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
            }
    
            .section-header__title {
                @include adaptiv-value("margin-right", 32, 10, 1920, 1920, 320, 1);
            }
    
            .section-header__label {
                margin-bottom: 0;
            }
        }
        @media (max-width: $tablet) {
            @include adaptiv-value("margin-bottom", 50, 10, 1920, 1920, 320, 1);
        }
    }

    // .screen-09__items
    &__items {
        flex: 0 0 66.667%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);
        }
    }

    // .screen-09__item
    &__item {}
}

.item-screen-09 {
    display: flex;

    &:nth-child(odd) {
        @media (min-width: $mobileSmall) {
            flex-direction: row-reverse;

            .item-screen-09__body {
                text-align: right;
            }
        }
    }
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }

    // .item-screen-09__body
    &__body {
        flex: 0 1 50%;
        align-self: center;
        padding: 20px;
    }

    // .item-screen-09__title
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 15, 1920, 1920, 320, 1);
        }
    }

    // .item-screen-09__text
    &__text {}

    // .item-screen-09__image
    &__image {
        flex: 0 1 50%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: $tablet) {

            img {
                position: relative;
                min-width: 100%;
                height: auto;
            }
        }
    }
}
// ================================================================================================

// Section-10 =====================================================================================
.screen-10 {

    // .screen-10__container
    &__container {
        display: flex;
        min-height: 100%;
        margin-bottom: 50px;
        @media (max-width: $mobile) {
            padding-top: 45px;
            flex-direction: column;
            gap: 30px;
        }
    }

    // .screen-10__item
    &__item {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }

    // .screen-10__image
    &__image {
        position: relative;
        flex-grow: 0;
        flex-basis: calc(620 / 1080 * 100%);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: $mobile) {
            @include adaptiv-value("margin-left", -240, -15, 1920, 1920, 320, 1);
            @include adaptiv-value("margin-right", -240, -15, 1920, 1920, 320, 1);

            img {
                position: relative;
                min-width: 100%;
                height: auto;
            }
        }
    }

    // .screen-10__body
    &__body {
        @include adaptiv-value("padding-top", 60, 25, 1920, 1920, 320, 1);
        padding-right: 15px;
        @media (max-width: $mobile) {
            padding-top: 0px;
        }
    }

    // .screen-10__title
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 15, 1920, 1920, 320, 1);
        }
    }

    // .screen-10__text
    &__text {
    }
}
// ================================================================================================

// Section-11 =====================================================================================
.screen-11 {
    position: relative;
    @media (min-width: $mobile) {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(720 / 1920 * 100%);
            background: rgba(196, 196, 196, 0.30);
        }
    }
    // .screen-11__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 50px;
        padding-bottom:50px;
        position: relative;
        z-index: 2;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    // .screen-11__items
    &__items {
        flex: 0 1 50%;
        @include adaptiv-value("padding-left", 240, 30, 1920, 1920, 768, 1);
        display: grid;
        @include adaptiv-value("gap", 60, 25, 1920, 1920, 320, 1);
        @media (max-width: $mobile) {
            margin-bottom: 30px;
        }
    }

    // .screen-11__item
    &__item {}

    // .screen-11__title
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 15, 1920, 1920, 320, 1);
        }
    }

    // .screen-11__text
    &__text {}

    // .screen-11__image
    &__image {
        flex: 0 1 50%;
        text-align: right;
        img {
            max-width: 100%
        }
    }
}
// ================================================================================================
//TODO: ДЛЯ ВСЕГО САЙТА!!! Перевести все пиксели в rem с помощью функции scss