// подключаем шрифты (дописываем &display=swap, это важно для оптимизации) ========================
@import url('https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap');
// ================================================================================================
// подключаем обнуляющий стиль и миксины ==========================================================
@import "_nullstyle";
@import "_mixins";
@import "_fullpage";
// ================================================================================================

// Global =========================================================================================
$mainColor: #6A6E77;
$darkColor: #1C1F25;
$softColor: #E3E6EC;
$lightColor: #FFFFFF;

body {
    font-family: 'Quicksand';
    @include adaptiv-value("font-size", 25, 16, 1920, 1920, 320, 1);
}

[class*="__container"] {
    //flex: 1 1 auto;
    @include adaptiv-value("padding-left", 240, 15, 1920, 1920, 320, 1);
    @include adaptiv-value("padding-right", 240, 15, 1920, 1920, 320, 1);
}

.wrapper {}
// ================================================================================================

// Section-01 =====================================================================================

.page {
    counter-reset: item;

    // .page__section
    &__section {
        &::after {
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            position: absolute;
            top: 50%;
            @include adaptiv-value("right", 120, 7.5, 1920, 1920, 320, 1);
            transform: translate(50%, -50%);
            @include adaptiv-value("font-size", 60, 25, 1920, 1920, 320, 1);
            color: $softColor;
            font-weight: 700;
            z-index: 1;
            @media (max-width: $mobile) {
                top: 30px;
                right: 50%;
            }
        }
    }
}

.screen-01 {

    // .screen-01__container
    &__container {
        min-height: 100%;
        display: flex;
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }
        .screen-01__body {
            flex: 1 1 auto;
            //flex-grow: 1;
            position: relative;
            @include adaptiv-value("padding-left", 240, 15, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-right", 240, 15, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-top", 155, 50, 1920, 1920, 320, 1);
            @include adaptiv-value("padding-bottom", 155, 50, 1920, 1920, 320, 1);
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(28, 31, 37, 0.6);
            }

            .screen-01__section-header {
                z-index: 1;
                position: relative;
            }

            .screen-01__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media (max-width: $mobile) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                min-height: 100%;
            }
        }
    }
}

// Общий компонент ==============================
.section-header {

    // .section-header__label
    &__label {
        color: $mainColor;
        line-height: calc(31 / 25 * 100%);

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 20, 1920, 1920, 320, 1);
            //margin-bottom: 32px;
        }
    }

    // .section-header__title
    &__title {
        color: $darkColor;
        @include adaptiv-value("font-size", 60, 35, 1920, 1920, 320, 1);
        font-weight: 700;
        line-height: calc(75 / 60 * 100%);
        max-width: 470px;
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 132, 20, 1920, 1920, 320, 1);
        }
        &-big {
            max-width: 890px;
        }
    }

    // .section-header__text
    &__text {
        color: $mainColor;
        line-height: calc(45 / 25 * 100%);
        max-width: 540px;
    }

    // .section-header__light
    &-ligth {
        .section-header__label {
            color: $softColor;
        }

        .section-header__title {
            color: $lightColor;
        }
    }
}
// ==============================================
// ================================================================================================
//TODO: Счетчик секции привязать к высоте блока "screen-01__body" через js!
//TODO: Изменить цвет булета при скролле (когда переходим на второй слайд)

// Section-02 =====================================================================================
.screen-02 {

    // .screen-02__container
    &__container {
        @media (min-width: $mobile) {
            min-height: 100%;
            display: flex;
            align-items: flex-start;
        }
    }

    // .screen-02__content
    &__content {
        flex: 0 1 50%;
        align-self: center;
        padding-top: 45px;
        padding-bottom: 45px;
        @media (min-width: $mobile) {
            padding-right: 20px;
        }
    }

    // .screen-02__section-header
    &__section-header {}

    // .screen-02__image
    &__image {
        flex: 0 1 50%;
        img {
            max-width: 100%;
        }
    }
}
// ================================================================================================
//TODO: Поработать над адаптивностью изображения Screen-02
